<div class="grid">
  <div class="col-12">
    <h1>Cadastro de Ususario</h1>
  </div>
</div>
<div class="p-fluid formgrid grid">
  <form (ngSubmit)="criar()" [formGroup]="formUsuario" class="w-full">
    <div class="col-12 lg:col-3 field">
      <label>Status</label>
      <p-toggleButton
        formControlName="ativo"
        onLabel="Ativo"
        offLabel="Desativado"
      ></p-toggleButton>
    </div>
    <div class="col-12 md:col-6 field">
      <label>Nome Funcionario</label>
      <input type="text" pInputText formControlName="nome" />
      <div class="error-customize" *ngIf="formUsuario.get('nome')!.touched">
        <p-message
          *ngIf="formUsuario.get('nome')!.hasError('required')"
          severity="error"
          text="Selecione uma fabricante"
        ></p-message>
      </div>
    </div>

    <div class="col-12 md:col-6 field">
      <label>Usuario</label>
      <input type="text" pInputText formControlName="apelido" />
      <div class="error-customize" *ngIf="formUsuario.get('apelido')!.touched">
        <p-message
          *ngIf="formUsuario.get('apelido')!.hasError('required')"
          severity="error"
          text="Selecione uma fabricante"
        ></p-message>
      </div>
    </div>

    <div class="col-12 md:col-6 field">
      <label>Senha</label>
      <input
        type="password"
        weakLabel="Senha fraca"
        promptLabel="Digite uma senha"
        mediumLabel="Senha media"
        strongLabel="Senha forte"
        pPassword
        formControlName="senha"
      />
      <div class="error-customize" *ngIf="formUsuario.get('senha')!.touched">
        <p-message
          *ngIf="formUsuario.get('senha')!.hasError('required')"
          severity="error"
          text="Selecione uma fabricante"
        ></p-message>
      </div>
    </div>

    <div class="col-12 md:col-6 field">
      <label>Grupo de Acesso</label>
      <p-dropdown
        [options]="grupos"
        placeholder="Selecionar"
        formControlName="grupoAcesso"
      ></p-dropdown>
      <div
        class="error-customize"
        *ngIf="formUsuario.get('grupoAcesso')!.touched"
      >
        <p-message
          *ngIf="formUsuario.get('grupoAcesso')!.hasError('required')"
          severity="error"
          text="Selecione uma grupo"
        ></p-message>
      </div>
    </div>
    <div class="grid md:col-6 col-12 field">
      <div class="md:col-3 col-12 field">
        <button
          pButton
          label="Salvar"
          [disabled]="formUsuario.invalid || !auth.temPermissao('28')"
        ></button>
      </div>
      <div class="md:col-3 col-12 field">
        <button
          type="reset"
          pButton
          label="Limpar"
          class="p-button-danger"
        ></button>
      </div>
      <div class="md:col-3 col-12 field">
        <button
          routerLink="/usuario"
          pButton
          label="Voltar para Usuarios"
          class="p-button-secondary p-button-outlined"
        ></button>
      </div>
    </div>
  </form>
</div>
