<div class="grid">
  <div class="col-12">
    <h1>Pesquisa Usuário</h1>
  </div>
</div>
<form (ngSubmit)="pesquisar()" [formGroup]="form">
  <div class="p-fluid grid">
    <div class="field col-12 md:col-4">
      <label>Filtro:</label>
      <p-dropdown [options]="filtros" fromControlName="opcao" #opt></p-dropdown>
    </div>
    <div class="field col-12 md:col-8" *ngIf="opt.value >= 1">
      <label>Descricao</label>
      <input type="text" pInputText fromControlName="descricao" />
    </div>
  </div>
  <div class="col-12 grid md:col-2">
    <button type="submit" pButton label="Pesquisar"></button>
  </div>
</form>

<div class="grid">
  <div class="col">
    <p-table
      responsiveLayout="stack"
      [value]="listUsuario"
      [rowHover]="true"
      [paginator]="true"
      [(rows)]="rows"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="ativo">Status</th>
          <th>Nome</th>
          <th>Apelido</th>
          <th>Grupo Acesso</th>
          <th class="w-9rem">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td class="ativo">
            <span class="p-column-title">Status:</span>
            {{ usuario.ativo ? "Ativo" : "Desativado" }}
          </td>
          <td>
            <span class="p-column-title">Nome:</span>
            {{ usuario.nome }}
          </td>
          <td>
            <span class="p-column-title">Apelido:</span>
            {{ usuario.apelido }}
          </td>
          <td>
            <span class="p-column-title">Grupo Acesso:</span>
            {{ usuario.nomeGrupoAcesso }}
          </td>
          <td class="flex justify-content-between">
            <span class="p-column-title">Ações</span>
            <button
              [disabled]="true"
              [routerLink]="['/usuario', usuario.id]"
              pButton
              icon="fas fa-pencil-alt"
              pTooltip="Editar"
              tooltipPosition="top"
            ></button>
            <button
              pButton
              [disabled]="!auth.temPermissao('29')"
              class="p-button-danger"
              (click)="confirmaExclusao(usuario.id)"
              pTooltip="Excluir"
              tooltipPosition="top"
              icon="fas fa-trash-alt"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="grid">
  <div class="col-12 lg:col-2">
    <a routerLink="/usuario/novo" pButton label="Novo Usuário"></a>
  </div>
</div>
