<div class="grid">
  <div class="col">
    <h1>
      {{
        !opt
          ? "Pesquisar Bairro"
          : !form.value.id
          ? "Novo Bairro"
          : "Editando Bairro"
      }}
    </h1>
  </div>
</div>
<form
  (ngSubmit)="opt ? criar() : pesquisar()"
  [formGroup]="form"
  class="w-full"
>
  <div class="p-fluid p-formgrid grid">
    <div class="md:col-8 col-12 field">
      <label>Nome</label>
      <input type="text" pInputText name="nome" formControlName="nome" />
      <div class="error-customize" *ngIf="form.get('nome')!.touched">
        <p-message
          *ngIf="form.get('nome')!.hasError('required')"
          severity="error"
          text="Nome requerido"
        ></p-message>
        <p-message
          *ngIf="form.get('nome')!.hasError('minlength')"
          severity="error"
          text="Nome deve conter no minimo 3 caracteres"
        ></p-message>
        <p-message
          *ngIf="form.get('nome')!.hasError('maxlength')"
          severity="error"
          text="Nome deve conter no maximo 70 caracteres"
        ></p-message>
      </div>
    </div>
    <div class="md:col-4 col-12 field">
      <label>Cidade</label>
      <p-autoComplete
        [suggestions]="cidades"
        field="nome"
        placeholder="Selecionar Cidade"
        formControlName="cidade"
        (completeMethod)="handleOnComplet($event)"
        [dropdown]="true"
      ></p-autoComplete>
      <div class="error-customize" *ngIf="form.get('cidade')!.touched">
        <p-message
          *ngIf="form.get('cidade')!.hasError('required')"
          severity="error"
          text="Selecione uma cidade"
        ></p-message>
      </div>
    </div>

    <div class="md:col-2 col-12 field" *ngIf="!opt">
      <button
        type="submit"
        pButton
        label="Pesquisar"
        [disabled]="form.invalid"
      ></button>
    </div>
    <div class="md:col-2 col-12 field" *ngIf="opt">
      <button
        type="submit"
        pButton
        label="Salvar"
        [disabled]="form.invalid || !auth.temPermissao('10')"
      ></button>
    </div>
    <div class="md:col-2 col-12 field">
      <button
        type="reset"
        pButton
        label="Limpar"
        class="p-button-danger"
        (click)="resetForm(false)"
      ></button>
    </div>
  </div>
</form>

<p-blockUI [blocked]="opt" [target]="tbl">
  <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>
<div class="grid">
  <div class="col">
    <p-table
      [value]="bairros"
      [rowHover]="true"
      [responsive]="true"
      [totalRecords]="totalElementos"
      [paginator]="true"
      responsiveLayout="stack"
      [rows]="filtro.size"
      [lazy]="true"
      (onLazyLoad)="aoMudarPagina($event)"
      #tbl
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Bairro</th>
          <th class="col-cidade">Cidade</th>
          <th class="w-8rem">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bairro>
        <tr>
          <td>
            <span class="p-column-title">Bairro</span>
            {{ bairro.nome }}
          </td>
          <td>
            <span class="p-column-title">Cidade</span>
            {{ bairro.cidade.nome }}
          </td>
          <td class="md:justify-content-between justify-content-start flex">
            <span class="p-column-title">Ações</span>
            <a
              class="margin-right: 10px"
              pButton
              icon="fas fa-pencil-alt"
              (click)="formParaEdicao(bairro, true)"
              disabled="!auth.temPermissao('10')"
            ></a>
            <button
              pButton
              icon="fas fa-trash-alt"
              class="p-button-danger"
              (click)="confirmaExclusao(bairro)"
              [disabled]="!auth.temPermissao('11')"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td [attr.colspan]="3">Nenhum registro encontrado!</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="grid p-fluid">
  <div class="lg:col-2 col-12">
    <button
      pButton
      [label]="!opt ? 'Novo Bairro' : 'Pesquisar'"
      (click)="configFormulario(!opt)"
    ></button>
  </div>
</div>
