<div class="p-grid">
  <div class="p-col">
    <h1>
      {{
        !opt
          ? 'Pesquisar Motivo O.s.'
          : !form.value.id
          ? 'Novo Motivo Os'
          : 'Editando Motivo Os'
      }}
    </h1>
  </div>
</div>
<form (ngSubmit)="opt ? criar() : pesquisar()" [formGroup]="form">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-col-12 p-field">
      <label>Nome</label>
      <input type="text" pInputText formControlName="descricao" />
      <div class="error-customize p-fluid" *ngIf="form.get('descricao').dirty">
        <p-message
          *ngIf="form.get('descricao').hasError('required')"
          severity="error"
          text="Nome requerido"
        ></p-message>
        <p-message
          *ngIf="form.get('descricao').hasError('minlength')"
          severity="error"
          text="Nome deve conter no minimo 10 caracteres"
        ></p-message>
        <p-message
          *ngIf="form.get('descricao').hasError('maxlength')"
          severity="error"
          text="Nome deve conter no maximo 70 caracteres"
        ></p-message>
      </div>
    </div>
    <div class="p-lg-2 p-col-12 p-field" *ngIf="!opt">
      <button type="submit" pButton label="Pesquisar"></button>
    </div>
    <div class="p-lg-2 p-col-12 p-field" *ngIf="opt">
      <button
        type="submit"
        pButton
        label="Salvar"
        [disabled]="form.invalid || !auth.temPermissao('16')"
      ></button>
    </div>
    <div class="p-lg-2 p-col-12 p-field">
      <button
        type="reset"
        pButton
        label="Limpar"
        class="p-button-danger"
        (click)="confFormulario(false)"
      ></button>
    </div>
  </div>
</form>
<p-blockUI [blocked]="opt" [target]="tab">
  <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>
<div class="p-grid">
  <div class="p-col-12">
    <p-table
      [value]="motivosOs"
      rowHover="true"
      [paginator]="true"
      [rows]="5"
      [responsive]="true"
      [lazy]="true"
      (onLazyLoad)="aoMudarPagina($event)"
      [totalRecords]="totalElementos"
      styleClass="p-datatable-gridlines p-datatable-responsive-demo"
      #tab
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th class="col-acoes">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-motivoos>
        <tr>
          <td>
            <span class="p-column-title">Nome: </span>
            {{ motivoos.descricao }}
          </td>
          <td class="btn-ajust col-acoes">
            <span class="p-column-title">Ações</span>
            <a
              class="margin-right: 10px"
              pButton
              disable="!auth.temPermissao('16')"
              icon="fas fa-pencil-alt"
              (click)="prencheFormulario(motivoos, true)"
            ></a>
            <button
              pButton
              icon="fas fa-trash-alt"
              class="p-button-danger"
              (click)="confirmaExclusao(motivoos)"
              [disabled]="!auth.temPermissao('17')"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="2">Nenhum registro encontrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="p-grid p-fluid">
  <div class="p-lg-2 p-col-12">
    <button
      pButton
      [label]="!opt ? 'Novo Motivo O.s.' : 'Pesquisar'"
      (click)="confFormulario(!opt)"
    ></button>
  </div>
</div>
