<div class="p-grid"></div>
<div class="login">
  <div class="p-fluid">
    <h1>Login</h1>
  </div>
  <form (ngSubmit)="login()" [formGroup]="form" class="p-fluid">
    <div class="p-fluid">
      <div class="p-inputgroup p-field">
        <span class="p-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input
          type="text"
          pInputText
          placeholder="Usuario"
          formControlName="login"
        />
      </div>
    </div>
    <div class="p-fluid">
      <div class="p-inputgroup p-field">
        <span class="p-inputgroup-addon"><i class="fa fa-key"></i></span>
        <input
          pInputText
          type="password"
          placeholder="Senha"
          formControlName="senha"
        />
      </div>
    </div>
    <div class="p-fluid">
      <button pButton label="Login" [disabled]="form.invalid"></button>
    </div>
  </form>
</div>
