<nav
  class="flex sm:flex-column justify-content-between sm:justify-content-center align-items-center mb-5 sm:mb-0"
>
  <div class="flex flex-column sm:hidden">
    <div class="p-fluid">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-bars"
        (click)="changeSideBarStatus()"
        class="p-button-text p-button-secondary p-button-lg"
        label="Menu"
      ></button>
    </div>
  </div>
  <div class="flex flex-row sm:mb-7">
    <p-avatar
      size="xlarge"
      shape="circle"
      [class]="display ? 'mr-4' : ''"
      [label]="nomeUsuario.charAt(0).toUpperCase()"
    ></p-avatar>
    <div
      class="flex flex-column justify-content-between align-content-between"
      *ngIf="display"
    >
      <h3 class="mt-1">{{ nomeUsuario }}</h3>
      <a routerLink="/profile">Editar senha</a>
    </div>
  </div>

  <div class="hidden sm:flex">
    <p-panelMenu
      [class]="[!display ? 'smart-menu' : 'show-menu']"
      [model]="display ? items : smallItems"
    >
    </p-panelMenu>
  </div>
</nav>
<p-overlayPanel #op [style]="{ width: '300px' }">
  <ng-template pTemplate>
    <ul>
      <li>10 ordens encontram-se abertas</li>
      <li>10 Mensagems não lidas</li>
      <li>8 Clientes pendentes ativação</li>
      <li>50 Cliente sem enviar eventos</li>
      <li>19 ordens para serem liberadas</li>
    </ul>
  </ng-template>
</p-overlayPanel>

<p-sidebar [visible]="showSidebar" (onHide)="showSidebar = false">
  <p-panelMenu class="show-menu" [multiple]="false" [model]="items">
  </p-panelMenu>
</p-sidebar>
