<nav>
  <div class="flex flex-column">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-bars"
      (click)="showMenu()"
      class="p-button-rounded p-button-outlined mb-5"
    ></button>
    <p-avatar label="P"></p-avatar>
  </div>
  <p-menu *ngIf="display" [model]="items"></p-menu>
</nav>
<p-overlayPanel #op [style]="{ width: '300px' }">
  <ng-template pTemplate>
    <ul>
      <li>10 ordens encontram-se abertas</li>
      <li>10 Mensagems não lidas</li>
      <li>8 Clientes pendentes ativação</li>
      <li>50 Cliente sem enviar eventos</li>
      <li>19 ordens para serem liberadas</li>
    </ul>
  </ng-template>
</p-overlayPanel>
