<nav class="navbar">
  <div class="navbar-item p-col">
    <div class="">
      <a href="javascript:;" class="navbar-toggle" (click)="display = !display">
        <i class="fa fa-bars"></i
      ></a>
    </div>

    <div class="user-panel">
      <a (click)="op.toggle($event)">
        <i class="pi pi-bell p-text-secondary p-mr-2" style="font-size: 1.6rem">
          <p-badge [value]="0"> </p-badge>
        </i>
      </a>
      <img alt="" />
      <div class="user-info">
        <span>{{ auth.getUsername() }}</span>
        <a [routerLink]="['/profile']">Editar</a>
      </div>
    </div>
  </div>

  <p-sidebar [(visible)]="display" position="left" [autoZIndex]="true" #sideBar>
    <h1 style="font-weight: normal">Menu</h1>
    <p-panelMenu
      [model]="items"
      styleClass="custom"
      [multiple]="false"
    ></p-panelMenu>
  </p-sidebar>
</nav>
<p-overlayPanel #op [style]="{ width: '300px' }">
  <ng-template pTemplate>
    <ul>
      <li>10 ordens encontram-se abertas</li>
      <li>10 Mensagems não lidas</li>
      <li>8 Clientes pendentes ativação</li>
      <li>50 Cliente sem enviar eventos</li>
      <li>19 ordens para serem liberadas</li>
    </ul>
  </ng-template>
</p-overlayPanel>
