<p-dialog
  [(visible)]="display"
  [modal]="false"
  [responsive]="true"
  (onHide)="fechado()"
  #panel
>
  <p-header>
    Novo Atendimento
  </p-header>
  <div class="p-grid ui-fluid p-nogutter">
    <form (ngSubmit)="criar()" [formGroup]="formAt">
      <div class="p-grid">
        <div class="p-col-12 p-md-4 p-sm-12">
          <label>Data Inicio</label>
          <p-calendar
            formControlName="dataInicio"
            dateFormat="dd/mm/yy"
            showTime="true"
          ></p-calendar>
        </div>
        <div class="p-col-12 p-md-4 p-sm-12">
          <label>Data Termino</label>
          <p-calendar
            formControlName="dataTermino"
            dateFormat="dd/mm/yy"
            showTime="true"
          ></p-calendar>
        </div>
        <div class="p-col-12 p-md-4 p-sm-12" formGroupName="usuarioInicio">
          <label>Usuario</label>
          <input pInputText formControlName="nome" />
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col form-invalid">
          <label>Nome Cliente</label>
          <p-autoComplete
            formControlName="cliente"
            [suggestions]="listCliente"
            (completeMethod)="filtroCliente($event)"
            [minLength]="3"
            field="fantazia"
          ></p-autoComplete>
          <div
            class="error-customize"
            *ngIf="formAt.get('cliente').touched || formAt.get('cliente').dirty"
          >
            <p-message
              *ngIf="formAt.get('cliente').hasError('required')"
              severity="error"
              text="Informe o nome do cliente"
            ></p-message>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col">
          <label>Solicitante</label>
          <input pInputText formControlName="solicitante" />
          <div
            class="error-customize"
            *ngIf="formAt.get('solicitante').touched || formAt.get('solicitante').dirty"
          >
            <p-message
              *ngIf="formAt.get('solicitante').hasError('required')"
              severity="error"
              text="Informe o nome do Solicitante"
            ></p-message>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col">
          <label>Descrição</label>
          <div style="height: 100px">
            <textarea
              pInputTextarea
              [rows]="5"
              [autoResize]="false"
              formControlName="descricaoProblema"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <p-footer>
    <button pButton label="Iniciar" (click)="inicio()" *ngIf="!formAt.value.id"></button>
    <button
      pButton
      label="Pausar"
      class="ui-button-warning"
      (click)="inicio()"
      *ngIf="formAt.value.id"
    ></button>
    <button
      pButton
      label="Finalizar"
      (click)="finalizar()"
      *ngIf="formAt.value.id"
    ></button>
  </p-footer>
</p-dialog>
