<div class="flex-1 w-full">
  <app-navbar
    *ngIf="exibindoNavBar()"
    (atendimento)="teste($event)"
  ></app-navbar>
  <div class="flex justify-content-center">
    <div class="w-full md:w-11 lg:w-10 px-4 md:px-0 pt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<p-toast position="top-center"></p-toast>

<p-confirmDialog
  header="Confirmação"
  icon="pi pi-exclamation-triangle"
  acceptLabel="Sim"
  rejectLabel="Não"
  acceptButtonStyleClass="p-button-danger"
></p-confirmDialog>

<div *ngIf="displayAtendimento">
  <app-cadastro-atendimento
    [display]="displayAtendimento"
    (closed)="displayAtendimento = $event"
  ></app-cadastro-atendimento>
</div>
<!--
<div *ngIf="exibindoNavBar()">
  <p-splitButton
    class="ui-button-rounded"
    [model]="opcoes"
    styleClass="botoaOpc"
    icon="fas fa-plus"
  ></p-splitButton>
</div>
-->
