<div class="flex h-screen flex-column sm:flex-row px-4 pt-4">
  <app-navbar (atendimento)="teste($event)" *ngIf="showNavbar()"></app-navbar>
  <div class="flex flex-1 justify-content-center">
    <div class="w-full sm:ml-5">
      <p-card>
        <router-outlet></router-outlet>
      </p-card>
    </div>
  </div>
</div>

<p-toast position="top-center"></p-toast>

<p-confirmDialog
  header="Confirmação"
  icon="pi pi-exclamation-triangle"
  acceptLabel="Sim"
  rejectLabel="Não"
  acceptButtonStyleClass="p-button-danger"
></p-confirmDialog>

<div *ngIf="displayAtendimento">
  <app-cadastro-atendimento
    [display]="displayAtendimento"
    (closed)="displayAtendimento = $event"
  ></app-cadastro-atendimento>
</div>
<!--
<div *ngIf="exibindoNavBar()">
  <p-splitButton
    class="ui-button-rounded"
    [model]="opcoes"
    styleClass="botoaOpc"
    icon="fas fa-plus"
  ></p-splitButton>
</div>
-->
