<p-dialog
  [(visible)]="display"
  [modal]="true"
  [responsive]="true"
  (onHide)="fechado()"
  [styleClass]="'w-12 lg:w-4'"
  #panelV
>
  <p-header> Cadastro verificação </p-header>
  <form (ngSubmit)="criar()" [formGroup]="form">
    <div class="p-fluid formgrid grid">
      <div class="col-12 field">
        <label>Data Teste</label>
        <p-calendar
          formControlName="dataTeste"
          dateFormat="dd/mm/yy"
          [showTime]="true"
        ></p-calendar>
      </div>

      <div class="col-12 field">
        <label>Status</label>
        <p-dropdown
          [options]="status"
          placeholder="Selecione"
          formControlName="status"
        ></p-dropdown>
      </div>

      <div class="col-12 field">
        <label>Dvr</label>
        <p-dropdown
          [options]="dvrs"
          placeholder="Selecione"
          formControlName="dvr"
        ></p-dropdown>
      </div>
      <div class="col-12 field lg:col-6">
        <label>Tempo Gravação</label>
        <p-inputMask formControlName="qtdGravacao" mask="9?9999"></p-inputMask>
      </div>
      <div class="col-12 field lg:col-6">
        <label>Tamanho Hd</label>
        <div class="ui-inputgroup">
          <p-inputMask
            formControlName="hd"
            mask="999aa"
            placeholder="99TB or 99GB"
            characterPattern="[tgbTGB]"
          ></p-inputMask>
        </div>
      </div>
      <div class="col-12 field" formGroupName="usuario">
        <label>Usuario</label>
        <input pInputText formControlName="nome" />
      </div>
    </div>
  </form>

  <p-footer>
    <button
      (click)="criar()"
      pButton
      label="Salvar"
      [disabled]="form.invalid || !auth.temPermissao('25')"
    ></button>
    <button
      type="reset"
      pButton
      label="Limpar"
      class="p-button-danger"
    ></button>
  </p-footer>
</p-dialog>
