<div class="ajust">
  <div class="p-col-12 p-lg-6">
    <form [formGroup]="form" (ngSubmit)="update()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-col-12 p-field profile-image">
          <img />
        </div>
        <div class="p-col-12 p-field">
          <label>Nome</label>
          <input pInputText [value]="nome" />
        </div>
        <div class="p-col-12 p-field">
          <label>Email</label>
          <input pInputText />
        </div>
        <div class="p-col-12 p-field">
          <label>Senha antiga</label>
          <input
            type="password"
            pPassword
            formControlName="oldPassword"
            [feedback]="false"
          />
        </div>
        <div class="p-col-12 p-field">
          <label>Nova Senha</label>
          <input
            type="password"
            pPassword
            formControlName="newPassword"
            weakLabel="Senha fraca"
          />
          <div
            class="error-customize"
            *ngIf="
              form.get('oldPassword').dirty && form.get('newPassword').dirty
            "
          >
            <p-message
              *ngIf="form.get('newPassword').hasError('required')"
              severity="error"
              text="Campo obrigatorio"
            ></p-message>
          </div>
        </div>
        <div class="p-col-12 p-field">
          <label>Confirmar Nova senha</label>
          <input
            type="password"
            pPassword
            formControlName="confirmationNewPassword"
          />
          <div
            class="error-customize"
            *ngIf="
              form.get('oldPassword').dirty &&
              form.get('confirmationNewPassword').dirty
            "
          >
            <p-message
              *ngIf="form.get('confirmationNewPassword').hasError('required')"
              severity="error"
              text="Campo obrigatorio"
            ></p-message>
          </div>
        </div>
        <div class="p-col-12 p-lg-6 p-field">
          <button pButton label="Atualizar" [disabled]="form.invalid"></button>
        </div>
        <div class="p-col-12 p-lg-6 p-field">
          <a routerLink="/" pButton label="Voltar" class="p-button-link"></a>
        </div>
      </div>
    </form>
  </div>
</div>
