<div class="grid">
  <div class="col-12 md:col-6">
    <form [formGroup]="form" (ngSubmit)="update()">
      <div class="p-fluid formgrid grid">
        <div class="col-12 field profile-image">
          <img />
        </div>
        <div class="col-12 field">
          <label>Nome</label>
          <input pInputText [value]="nome" />
        </div>
        <div class="col-12 field">
          <label>Email</label>
          <input pInputText />
        </div>
        <div class="col-12 field">
          <label>Senha antiga</label>
          <input
            type="password"
            pPassword
            formControlName="oldPassword"
            [feedback]="false"
          />
        </div>
        <div class="col-12 field">
          <label>Nova Senha</label>
          <input
            type="password"
            pPassword
            formControlName="newPassword"
            weakLabel="Senha fraca"
          />
          <div
            class="error-customize"
            *ngIf="
              form.get('oldPassword').dirty && form.get('newPassword').dirty
            "
          >
            <p-message
              *ngIf="form.get('newPassword').hasError('required')"
              severity="error"
              text="Campo obrigatorio"
            ></p-message>
          </div>
        </div>
        <div class="col-12 field">
          <label>Confirmar Nova senha</label>
          <input
            type="password"
            pPassword
            formControlName="confirmationNewPassword"
          />
          <div
            class="error-customize"
            *ngIf="
              form.get('oldPassword').dirty &&
              form.get('confirmationNewPassword').dirty
            "
          >
            <p-message
              *ngIf="form.get('confirmationNewPassword').hasError('required')"
              severity="error"
              text="Campo obrigatorio"
            ></p-message>
          </div>
        </div>
        <div class="col-12 lg-6 field">
          <button pButton label="Atualizar" [disabled]="form.invalid"></button>
        </div>
        <div class="col-12 lg-6 field">
          <a
            routerLink="/"
            pButton
            label="Voltar"
            class="p-button-outlined p-button-secondary"
          ></a>
        </div>
      </div>
    </form>
  </div>
</div>
