<div class="p-col mb-4">
  <h1>{{ "Cadastro Cliente" }}</h1>
</div>
<form class="form-ajust" (ngSubmit)="criar()" [formGroup]="formCliente">
  <div class="p-fluid formgrid grid">
    <div class="field col-12 lg:col-4">
      <label>Codigo Service</label>
      <input
        pKeyFilter="int"
        pInputText
        name="codService"
        formControlName="codigoService"
      />
    </div>
    <div class="field col-12 lg:col-4">
      <label>Cogido Conta</label>
      <p-inputMask
        mask="9999"
        name="codSigma"
        formControlName="codigoParticao"
      ></p-inputMask>
      <div *ngIf="formCliente.get('codigoParticao')!.dirty">
        <app-erro-message
          *ngIf="formCliente.get('codigoParticao')!.hasError('required')"
          [message]="'Campo requerido'"
        ></app-erro-message>
      </div>
    </div>
    <div
      class="field col-12 lg:col-4"
      [ngClass]="[a.value ? 'cliente-ativo' : 'cliente-cancelado']"
    >
      <label>Status</label>
      <p-selectButton
        [options]="status"
        #a
        formControlName="ativo"
      ></p-selectButton>
      <div *ngIf="formCliente.get('ativo')!.dirty">
        <app-erro-message
          *ngIf="formCliente.get('ativo')!.hasError('required')"
          [message]="'Campo requerido'"
        ></app-erro-message>
      </div>
    </div>
    <div class="field col-12">
      <label>Razão Social</label>
      <input type="text" pInputText formControlName="razaoSocial" />
      <div
        class="error-customize"
        *ngIf="formCliente.get('razaoSocial')!.dirty"
      >
        <app-erro-message
          *ngIf="formCliente.get('razaoSocial')!.hasError('required')"
          [message]="'Razão Social requerido'"
        ></app-erro-message>
        <app-erro-message
          *ngIf="formCliente.get('razaoSocial')!.hasError('minlength')"
          [message]="'Razão Social deve conter no minimo 10 caracteres'"
        ></app-erro-message>
        <app-erro-message
          *ngIf="formCliente.get('razaoSocial')!.hasError('maxlength')"
          [message]="'Razão Social deve conter no maximo 255 caracteres'"
        ></app-erro-message>
      </div>
    </div>
    <div class="field col-12">
      <label>Nome Fantasia</label>
      <input type="text" pInputText formControlName="fantazia" />
      <div class="error-customize" *ngIf="formCliente.get('fantazia')!.dirty">
        <app-erro-message
          *ngIf="formCliente.get('fantazia')!.hasError('required')"
          [message]="'Nome Fantasia requerido'"
        ></app-erro-message>
        <app-erro-message
          *ngIf="formCliente.get('fantazia')!.hasError('minlength')"
          [message]="'Nome Fantasia deve conter no minimo 10 caracteres'"
        ></app-erro-message>
        <app-erro-message
          *ngIf="formCliente.get('fantazia')!.hasError('maxlength')"
          [message]="'Nome Fantasia deve conter no maximo 255 caracteres'"
        ></app-erro-message>
      </div>
    </div>
    <div class="field col-12">
      <label>Dominio</label>
      <input type="text" pInputText formControlName="dominio" />
      <div class="error-customize" *ngIf="formCliente.get('dominio')!.dirty">
        <app-erro-message
          *ngIf="formCliente.get('dominio')!.hasError('required')"
          [message]="'Dominio requerido'"
        ></app-erro-message>
        <app-erro-message
          *ngIf="formCliente.get('dominio')!.hasError('minlength')"
          [message]="'Dominio deve conter no minimo 10 caracteres'"
        ></app-erro-message>
        <app-erro-message
          *ngIf="formCliente.get('dominio')!.hasError('maxlength')"
          [message]="'Dominio deve conter no maximo 255 caracteres'"
        ></app-erro-message>
      </div>
    </div>
    <div class="field col-12 lg:col-4">
      <label>Telefone 1</label>
      <p-inputMask
        mask="99999-999?9"
        formControlName="telefone1"
        [unmask]="true"
      ></p-inputMask>
    </div>
    <div class="field col-12 lg:col-4">
      <label>Telefone 2</label>
      <p-inputMask
        mask="99999-999?9"
        formControlName="telefone2"
        [unmask]="true"
      ></p-inputMask>
    </div>
    <div class="field col-12 lg:col-4">
      <label>Grupo</label>
      <p-dropdown
        formControlName="grupo"
        [options]="grupos"
        placeholder="Selecione um Grupo"
      ></p-dropdown>
      <div *ngIf="formCliente.get('grupo')!.touched">
        <app-erro-message
          *ngIf="formCliente.get('grupo')!.hasError('required')"
          [message]="'Campo requerido'"
        ></app-erro-message>
      </div>
    </div>
    <div class="col-12 my-3">
      <h2>Endereço</h2>
    </div>
    <div class="flex w-full flex-wrap" formGroupName="endereco">
      <div class="field col-12 lg:col-10">
        <label>Rua</label>
        <input type="text" pInputText formControlName="rua" />
        <div
          class="error-customize"
          *ngIf="
            formCliente.get('endereco')!.get('rua')!.dirty ||
            formCliente.get('endereco')!.get('rua')!.touched
          "
        >
          <app-erro-message
            *ngIf="
              formCliente.get('endereco')!.get('rua')!.hasError('required')
            "
            [message]="'Campo obrigatorio'"
          ></app-erro-message>
          <app-erro-message
            *ngIf="
              formCliente.get('endereco')!.get('rua')!.hasError('maxlength')
            "
            [message]="'Rua deve conter no maximo 255 caracteres'"
          ></app-erro-message>
        </div>
      </div>
      <div class="field col-12 lg:col-2">
        <label>Numero</label>
        <input pInputText formControlName="numero" pKeyFilter="pint" />
        <div
          class="error-customize"
          *ngIf="formCliente.get('endereco')!.get('numero')!.dirty"
        >
          <app-erro-message
            *ngIf="
              formCliente.get('endereco')!.get('numero')!.hasError('required')
            "
            [message]="'Campo obrigatorio'"
          ></app-erro-message>
        </div>
      </div>
    </div>
    <div class="flex w-full flex-wrap" formGroupName="endereco">
      <div class="field col-12 lg:col-6">
        <label>Complemento</label>
        <input type="text" pInputText formControlName="complemento" />
      </div>
      <div class="field col-12 lg:col-6">
        <label>Referencia</label>
        <input type="text" pInputText formControlName="referencia" />
      </div>
    </div>
    <div class="field col-12 lg:col-6">
      <label>Cidade</label>
      <p-autoComplete
        [suggestions]="cidades"
        [dropdown]="true"
        field="nome"
        (completeMethod)="filtroCidade($event)"
        [minLength]="3"
        #cidade
        formControlName="cidade"
        (onSelect)="listaBairro(cidade.value)"
      ></p-autoComplete>
    </div>
    <div class="field col-12 lg:col-6" formGroupName="endereco">
      <label>Bairro</label>
      <p-autoComplete
        [suggestions]="bairros"
        [dropdown]="true"
        field="nome"
        dropdownMode="current"
        #bairro
        (completeMethod)="filtroBairroComplete($event)"
        [minLength]="3"
        formControlName="bairro"
      ></p-autoComplete>
      <div
        class="error-customize"
        *ngIf="formCliente.get('endereco')!.get('bairro')!.touched"
      >
        <p-message
          *ngIf="
            formCliente.get('endereco')!.get('bairro')!.hasError('required')
          "
          severity="error"
          text="Campo requerido"
        ></p-message>
      </div>
    </div>
    <div class="field col-12 lg:col-2">
      <button
        type="submit"
        pButton
        label="Salvar"
        [disabled]="
          formCliente.invalid ||
          formCliente.get('endereco')!.get('bairro')!.disabled ||
          !auth.temPermissao('1')
        "
      ></button>
    </div>
    <div class="field col-12 lg:col-2">
      <button
        type="reset"
        pButton
        label="Limpar"
        class="p-button-danger"
      ></button>
    </div>
    <div class="field col-12 lg:col-2">
      <a
        routerLink="/cliente"
        pButton
        label="Voltar para pesquisa"
        class="p-button-secondary p-button-outlined"
      ></a>
    </div>
  </div>
</form>
