<div class="p-grid">
  <div class="p-col">
    <h1>{{ 'Cadastro Cliente' }}</h1>
  </div>
</div>
<form class="form-ajust" (ngSubmit)="criar()" [formGroup]="formCliente">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <label>Codigo Service</label>
      <input
        pKeyFilter="int"
        pInputText
        name="codService"
        formControlName="codigoService"
      />
    </div>
    <div class="p-field p-col-12 p-md-6 p-lg-3">
      <label>Cogido Conta</label>
      <input
        pKeyFilter="int"
        pInputText
        name="codSigma"
        formControlName="codigoParticao"
      />
      <div
        class="error-customize"
        *ngIf="formCliente.get('codigoParticao').dirty"
      >
        <p-message
          *ngIf="formCliente.get('codigoParticao').hasError('maxlength')"
          severity="error"
          text="No maximo 4 caracteres"
        ></p-message>
      </div>
    </div>
    <div
      class="p-field p-col-12 p-lg-3"
      [ngClass]="[a.value ? 'cliente-ativo' : 'cliente-cancelado']"
    >
      <label>Status</label>
      <p-selectButton
        [options]="status"
        #a
        formControlName="ativo"
      ></p-selectButton>
      <div *ngIf="formCliente.get('ativo').dirty">
        <p-message
          *ngIf="formCliente.get('ativo').hasError('required')"
          severity="error"
          text="Campo requerido"
        ></p-message>
      </div>
    </div>
    <div class="p-field p-col-12">
      <label>Razão Social</label>
      <input type="text" pInputText formControlName="razaoSocial" />
      <div class="error-customize" *ngIf="formCliente.get('razaoSocial').dirty">
        <p-message
          *ngIf="formCliente.get('razaoSocial').hasError('required')"
          severity="error"
          text="Razão Social requerido"
        ></p-message>
        <p-message
          *ngIf="formCliente.get('razaoSocial').hasError('minlength')"
          severity="error"
          text="Razão Social deve conter no minimo 10 caracteres"
        ></p-message>
        <p-message
          *ngIf="formCliente.get('razaoSocial').hasError('maxlength')"
          severity="error"
          text="Razão Social deve conter no maximo 255 caracteres"
        ></p-message>
      </div>
    </div>
    <div class="p-field p-col-12">
      <label>Nome Fantasia</label>
      <input type="text" pInputText formControlName="fantazia" />
      <div class="error-customize" *ngIf="formCliente.get('fantazia').dirty">
        <p-message
          *ngIf="formCliente.get('fantazia').hasError('required')"
          severity="error"
          text="Nome Fantazia requerido"
        ></p-message>
        <p-message
          *ngIf="formCliente.get('fantazia').hasError('minlength')"
          severity="error"
          text="Nome Fantazia deve conter no minimo 10 caracteres"
        ></p-message>
        <p-message
          *ngIf="formCliente.get('fantazia').hasError('maxlength')"
          severity="error"
          text="Nome Fantazia deve conter no maximo 255 caracteres"
        ></p-message>
      </div>
    </div>
    <div class="p-field p-col-12">
      <label>Dominio</label>
      <input type="text" pInputText formControlName="dominio" />
      <div class="error-customize" *ngIf="formCliente.get('dominio').dirty">
        <p-message
          *ngIf="formCliente.get('dominio').hasError('required')"
          severity="error"
          text="Nome Fantazia requerido"
        ></p-message>
        <p-message
          *ngIf="formCliente.get('dominio').hasError('minlength')"
          severity="error"
          text="Nome Fantazia deve conter no minimo 10 caracteres"
        ></p-message>
        <p-message
          *ngIf="formCliente.get('dominio').hasError('maxlength')"
          severity="error"
          text="Nome Fantazia deve conter no maximo 255 caracteres"
        ></p-message>
      </div>
    </div>
    <div class="p-field p-col-12 p-lg-4">
      <label>Telefone 1</label>
      <p-inputMask
        mask="99999-999?9"
        formControlName="telefone1"
        unmask="true"
      ></p-inputMask>
    </div>
    <div class="p-field p-col-12 p-lg-4">
      <label>Telefone 2</label>
      <p-inputMask
        mask="99999-999?9"
        formControlName="telefone2"
        unmask="true"
      ></p-inputMask>
    </div>
    <div class="p-field p-col-12 p-lg-4">
      <label>Grupo</label>
      <p-dropdown
        formControlName="grupo"
        [options]="grupos"
        placeholder="Selecione um Grupo"
      ></p-dropdown>
      <div class="error-customize" *ngIf="formCliente.get('grupo').touched">
        <p-message
          *ngIf="formCliente.get('grupo').hasError('required')"
          severity="error"
          text="Campo requerido"
        ></p-message>
      </div>
    </div>
    <div class="p-col-12">
      <h2>Endereço</h2>
    </div>
    <div
      style="width: 100%"
      class="p-d-flex p-flex-wrap"
      formGroupName="endereco"
    >
      <div class="p-field p-col-12 p-lg-10">
        <label>Rua</label>
        <input type="text" pInputText formControlName="rua" />
        <div
          class="error-customize"
          *ngIf="
            formCliente.get('endereco').get('rua').dirty ||
            formCliente.get('endereco').get('rua').touched
          "
        >
          <p-message
            *ngIf="formCliente.get('endereco').get('rua').hasError('required')"
            severity="error"
            text="Rua requerido"
          ></p-message>
          <p-message
            *ngIf="formCliente.get('endereco').get('rua').hasError('maxlength')"
            severity="error"
            text="Rua deve conter no maximo 255 caracteres"
          ></p-message>
        </div>
      </div>
      <div class="p-field p-col-12 p-lg-2">
        <label>Numero</label>
        <input pInputText formControlName="numero" pKeyFilter="pint" />
        <div
          class="error-customize"
          *ngIf="formCliente.get('endereco').get('numero').dirty"
        >
          <p-message
            *ngIf="
              formCliente.get('endereco').get('numero').hasError('required')
            "
            severity="error"
            text="Número requerido"
          ></p-message>
        </div>
      </div>
    </div>
    <div
      style="width: 100%"
      class="p-d-flex p-flex-wrap"
      formGroupName="endereco"
    >
      <div class="p-field p-col-12 p-lg-6">
        <label>Complemento</label>
        <input type="text" pInputText formControlName="complemento" />
      </div>
      <div class="p-field p-col-12 p-lg-6">
        <label>Referencia</label>
        <input type="text" pInputText formControlName="referencia" />
      </div>
    </div>
    <div class="p-field p-col-12 p-lg-6">
      <label>Cidade</label>
      <p-autoComplete
        [suggestions]="cidades"
        [dropdown]="true"
        field="nome"
        (completeMethod)="filtroCidade($event)"
        [minLength]="3"
        #cidade
        formControlName="cidade"
        (onSelect)="listaBairro(cidade.value)"
      ></p-autoComplete>
    </div>
    <div class="p-field p-col-12 p-lg-6" formGroupName="endereco">
      <label>Bairro</label>
      <p-autoComplete
        [suggestions]="bairros"
        [dropdown]="true"
        field="nome"
        dropdownMode="current"
        #bairro
        (completeMethod)="filtroBairroComplete($event)"
        [minLength]="3"
        formControlName="bairro"
      ></p-autoComplete>
      <div
        class="error-customize"
        *ngIf="formCliente.get('endereco').get('bairro').touched"
      >
        <p-message
          *ngIf="formCliente.get('endereco').get('bairro').hasError('required')"
          severity="error"
          text="Campo requerido"
        ></p-message>
      </div>
    </div>
    <div class="p-field p-col-12 p-lg-2">
      <button
        type="submit"
        pButton
        label="Salvar"
        [disabled]="
          formCliente.invalid ||
          formCliente.get('endereco').get('bairro').disabled ||
          !auth.temPermissao('1')
        "
      ></button>
    </div>
    <div class="p-field p-col-12 p-lg-2">
      <button
        type="reset"
        pButton
        label="Limpar"
        class="p-button-danger"
      ></button>
    </div>
    <div class="p-field p-col-12 p-lg-2">
      <a
        routerLink="/cliente"
        pButton
        label="Voltar para pesquisa"
        class="p-button-link"
      ></a>
    </div>
  </div>
</form>
