<p-dialog
  [(visible)]="display"
  [modal]="true"
  (onHide)="fechado()"
  #panel
  [resizable]="false"
  [draggable]="false"
  [keepInViewport]="true"
>
  <p-header> Cadastro Ordem Servico </p-header>
  <form (ngSubmit)="criar()" [formGroup]="formOs">
    <div class="p-fluid formgrid grid mydialog">
      <div class="lg:col-8 col-12 field form-invalid">
        <label>Nome Cliente</label>
        <p-autoComplete
          formControlName="cliente"
          [suggestions]="listCliente"
          #cliente
          (completeMethod)="filtroCliente($event)"
          [minLength]="3"
          field="fantazia"
        ></p-autoComplete>
        <div
          class="error-customize"
          *ngIf="formOs.get('cliente').touched || formOs.get('cliente').dirty"
        >
          <app-erro-message
            *ngIf="formOs.get('cliente').hasError('required')"
            message="'Informe o nome do solicitante'"
          ></app-erro-message>
          <app-erro-message
            *ngIf="formOs.get('cliente').hasError('minlength')"
            message="Informe no minimo 2 caracteres"
          ></app-erro-message>
          <app-erro-message
            *ngIf="formOs.get('cliente').hasError('maxlength')"
            message="Informe no maximo 255 caracteres"
          ></app-erro-message>
        </div>
      </div>
      <div class="lg:col-4 col-12 field">
        <label>Codigo Service</label>
        <input
          pInputText
          [value]="cliente.value?.codigoService"
          [disabled]="true"
        />
      </div>
      <div class="lg:col-4 col-12 field">
        <label>N° O.s. Service</label>
        <input pKeyFilter="pint" pInputText formControlName="codigoService" />
      </div>
      <div class="lg:col-4 col-12 field">
        <label>N° O.s. Sigma</label>
        <input pKeyFilter="pint" pInputText formControlName="codigoSigma" />
      </div>
      <div class="lg:col-4 col-12 field">
        <label>Data Abertura</label>
        <p-calendar
          formControlName="dataAbertura"
          dateFormat="dd/mm/yy"
          [showTime]="true"
        ></p-calendar>
      </div>

      <div class="lg:col-8 col-12 field">
        <label>Solicitante</label>
        <input type="text" pInputText formControlName="solicitante" />
        <div class="error-customize" *ngIf="formOs.get('solicitante').touched">
          <app-erro-message
            *ngIf="formOs.get('solicitante').hasError('required')"
            message="Informe o nome do solicitante"
          >
          </app-erro-message>
          <app-erro-message
            *ngIf="formOs.get('solicitante').hasError('minlength')"
            message="Informe no minimo 2 caracteres"
          >
          </app-erro-message>
          <app-erro-message
            *ngIf="formOs.get('solicitante').hasError('maxlength')"
            message="Informe no maximo 255 caracteres"
          >
          </app-erro-message>
        </div>
      </div>
      <div class="lg:col-4 col-12 field">
        <label>Prioridade</label>
        <p-dropdown
          formControlName="prioridadeOs"
          [options]="prioridades"
          placeholder="Selecione"
        ></p-dropdown>
        <div class="error-customize" *ngIf="formOs.get('prioridadeOs').touched">
          <app-erro-message
            *ngIf="formOs.get('prioridadeOs').hasError('required')"
            messsage="Selecione a prioridade"
          ></app-erro-message>
        </div>
      </div>
      <div class="col-12 field">
        <label>Motivo Ordem Serviço</label>
        <p-autoComplete
          formControlName="motivoOs"
          [suggestions]="listMotivoOs"
          (completeMethod)="filtroMotivoOs($event)"
          [minLength]="3"
          field="descricao"
          [dropdown]="true"
        >
        </p-autoComplete>
        <div class="error-customize" *ngIf="formOs.get('motivoOs').touched">
          <app-erro-message
            *ngIf="formOs.get('motivoOs').hasError('required')"
            message="Selecione o motivo da ordem"
          ></app-erro-message>
        </div>
      </div>

      <div class="col-12 field form-invalid">
        <label>Observação</label>
        <textarea
          pInputTextarea
          [rows]="5"
          [cols]="30"
          [autoResize]="false"
          formControlName="descricao"
        ></textarea>
        <div class="error-customize" *ngIf="formOs.get('descricao').touched">
          <app-erro-message
            *ngIf="formOs.get('descricao').hasError('required')"
            message="Informe uma descrição para a ordem"
          ></app-erro-message>
        </div>
      </div>
    </div>
  </form>

  <p-footer>
    <button
      (click)="criar()"
      pButton
      label="Salvar"
      [disabled]="formOs.invalid || !auth.temPermissao('19')"
    ></button>
    <button
      type="reset"
      pButton
      label="Limpar"
      class="p-button-danger"
    ></button>
  </p-footer>
</p-dialog>
