@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeflex/primeflex.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-size: 14px;
}

body {
  background: var(--surface-200);
  margin: 0;
  padding: 0;
}
*,
body,
.p-component {
  font-family: "Roboto", sans-serif;
}

.p-inputtext:focus {
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

.test table {
  width: 100% !important;
}

.show-menu .p-panelmenu-content {
  border: none !important;
}

.smart-menu .p-panelmenu-header-link {
  background-color: transparent !important;
  border: none !important;
}

.show-menu .p-panelmenu-header-link {
  background-color: transparent !important;
  border: none !important;
}

.smart-menu .p-panelmenu .p-panelmenu-header > a .p-menuitem-icon {
  margin-right: 0 !important;
  font-size: 1.5rem !important;
}

.show-menu .p-panelmenu .p-panelmenu-header > a .p-menuitem-icon {
  font-size: 1.5rem !important;
}
.show-menu .p-panelmenu .p-panelmenu-header > a .p-menuitem-text {
  font-size: 1.2rem !important;
}
