/* You can add global styles to this file, and also import other style files */
/* Documentos CSS */
* {
  font-family: arial, sans-serif;
  font-size: 13px;
  margin: 0px;
}

h1 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 8px;
}

label {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.btn-ajust > a,
.btn-ajust > button {
  margin-right: 4px;
}

textarea {
  resize: none !important;
}

/* Classes estilos Desenvolper */

.textcenter {
  text-align: center;
}

.col-acoes {
  width: 100px;
  text-align: center;
}

.layout {
  margin-top: 35px;
  justify-content: center;
  align-items: center;
}

.layout div.p-jc-center {
  max-width: 95%;
}

/*PrimeNg curtomizado classes*/

.cliente-ativo .p-highlight {
  background-color: rgb(34, 207, 34) !important;
  box-shadow: 0px 0px 5px rgb(34, 207, 34) !important;
  border: 1px solid rgb(34, 207, 34) !important;
}

.cliente-cancelado .p-highlight {
  background-color: rgb(247, 58, 58) !important;
  box-shadow: 0px 0px 5px rgb(247, 58, 58) !important;
  border: 1px solid rgb(247, 58, 58) !important;
}

.ng-invalid.ng-touched.ui-inputtext,
.ui-inputtext.ng-invalid.ng-touched,
.ui-inputtext.ng-invalid.ng-dirty {
  border-bottom-color: #ab1a0f !important;
  border-color: #ab1a0f;
  box-shadow: 0px 0px 5px #ab1a0f !important;
}

.form-invalid .ng-invalid.ng-touched .ui-state-default {
  border-bottom-color: #ab1a0f !important;
  border-color: #ab1a0f;
  box-shadow: 0px 0px 5px #ab1a0f !important;
}

.ui-message-text {
  padding-left: 2px;
}

.error-customize .ui-message {
  border: none;
  margin: 1px 0 0;
  padding: 0;
  background-color: transparent;
}

.pracima .ui-dropdown-open.ui-dropdown .ui-dropdown-panel {
  top: -56px !important;
}

.navbar .ui-toolbar {
  background-color: #000;
  border: none;
  border-radius: 0;
  padding: 15px;
}

.ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-corner-all.ng-star-inserted {
  margin: 0;
}

.ui-table .ui-table-tbody > tr > td {
  padding: 0.3em 0.5em !important;
}

.navbar .ui-button .ui-state-default {
  color: #fff;
  background-color: black !important;
  border: 0;
}

:host ::ng-deep {
  .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    display: none;
  }
}

.size-lg {
  width: 40vw !important;
}

@media screen and (max-width: 150rem) {
  .size-lg {
    width: 100% !important;
  }
}

@media screen and (max-width: 150rem) {
  :host ::ng-deep {
    .p-datatable {
      &.p-datatable-responsive-demo {
        .p-datatable-thead > tr > th,
        .p-datatable-tfoot > tr > td {
          display: none !important;
        }

        .p-datatable-tbody > tr > td {
          text-align: left;
          display: block;
          width: 100%;
          float: left;
          clear: left;
          border: 0 none;

          .p-column-title {
            padding: 0.4rem;
            min-width: 30%;
            display: inline-block;
            margin: -0.4em 1em -0.4em -0.4rem;
            font-weight: bold;
          }

          &:last-child {
            border-bottom: 1px solid var(--surface-d);
          }
        }
      }
    }
  }
}

/* Desenvolper media query*/

@media (max-width: 1025px) {
  .navbar-left {
    display: none;
  }
  .layout {
    margin-left: 7px;
    padding: 0;
  }
}

@media (min-width: 640px) {
  .textcenter {
    display: flex;
    text-align: left;
  }
  a {
    margin-top: 8px;
  }
}
