<div class="grid">
  <div class="col">
    <h1>
      {{
        !opt
          ? "Pesquisar grupo"
          : !form.value.id
          ? "Novo Grupo"
          : "Editando Grupo"
      }}
    </h1>
  </div>
</div>
<form
  (ngSubmit)="opt ? criar() : pesquisar()"
  [formGroup]="form"
  class="w-full"
>
  <div class="p-fluid p-formgrid grid">
    <div class="col-12 field">
      <label>Nome</label>
      <input type="text" pInputText formControlName="nome" />
      <div class="error-customize" *ngIf="form.get('nome')!.dirty">
        <p-message
          *ngIf="form.get('nome')!.hasError('required')"
          severity="error"
          text="Nome requerido"
        ></p-message>
        <p-message
          *ngIf="form.get('nome')!.hasError('minlength')"
          severity="error"
          text="Nome deve conter no minimo 3 caracteres"
        ></p-message>
        <p-message
          *ngIf="form.get('nome')!.hasError('maxlength')"
          severity="error"
          text="Nome deve conter no maximo 70 caracteres"
        ></p-message>
      </div>
    </div>
    <div class="lg:col-2 col-12 field" *ngIf="!opt">
      <button pButton label="Pesquisar" [disabled]="form.invalid"></button>
    </div>
    <div class="lg:col-2 col-12 field" *ngIf="opt">
      <button
        type="submit"
        pButton
        label="Salvar"
        [disabled]="form.invalid || !auth.temPermissao('4')"
      ></button>
    </div>
    <div class="lg:col-2 col-12 field">
      <button
        type="reset"
        pButton
        label="Limpar"
        class="p-button-danger"
        (click)="configureForm(false)"
      ></button>
    </div>
  </div>
</form>
<p-blockUI [blocked]="opt" [target]="tab">
  <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>
<div class="grid">
  <div class="col-12">
    <p-table
      [value]="grupos"
      [rowHover]="true"
      [paginator]="true"
      responsiveLayout="stack"
      [rows]="filtro.size"
      [lazy]="true"
      [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)"
      #tab
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th class="w-8rem">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-grupo>
        <tr>
          <td>
            <span class="p-column-title">Nome: </span>
            {{ grupo.nome }}
          </td>
          <td class="md:justify-content-between justify-content-start flex">
            <span class="p-column-title">Ações</span>
            <a
              class="margin-right: 10px"
              pButton
              pTooltip="Editar"
              icon="fas fa-pencil-alt"
              tooltipPosition="top"
              (click)="prencheFormulario(grupo, true)"
              disabled="!auth.temPermissao('4')"
            ></a>
            <button
              pButton
              [disabled]="!auth.temPermissao('5')"
              class="p-button-danger"
              pTooltip="Excluir"
              icon="fas fa-trash-alt"
              tooltipPosition="top"
              (click)="remover(grupo)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="2">Nenhum registro encontrado</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="grid p-fluid">
  <div class="col-12 lg:col-2">
    <button
      pButton
      [label]="!opt ? 'Novo Grupo' : 'Pesquisar'"
      (click)="configureForm(!opt)"
    ></button>
  </div>
</div>
